@import "../variables";


.empty-section
{
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;

    .compagny-presentation
    {
        width: 100%;
        .compagny-presentation-title
        {
            color: var(--text-dark-green);
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .compagny-presentation-content
        {
            font-size: 18px;
            color: var(--text-black);
        }
    }

    .compagny-service-presentation
    {
        margin: 50px 0;

        .subservices-presentation-section-title
        {
            font-weight: 700;
            font-size: 20px;
            margin: 50px 0 30px 0;
        }

        .compagny-frame
        {
            width: 80%;

            img
            {
                width: -webkit-fill-available;
                height: -webkit-fill-available;
            }
        }

        .subservices-presentation-section-sub-services
        {
            flex-wrap: wrap;
            .sub-service-frame
            {
                margin: 20px;
                min-width: 350px;
                flex: 1 0 45%;
            }
        }
    }
}

.contact-frame
{
    margin-top: auto;
}

@media only screen and (device-max-width: $phone-max-width),
only screen and (max-width: $phone-max-width)
{
    .empty-section
    {
        .compagny-service-presentation
        {
            .compagny-frame
            {
                margin-right: 0;
                margin-bottom: 50px;

                flex-direction: column;

                >div
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center !important;
                }
            }
        }
    }
}