.menu-tab
{
    align-self: auto;
    padding: 10px 20px;
    align-items: center;

    a
    {
        align-self: center;
        list-style: none;
    }

    a:hover
    {
        color: rgba($color: #FFFFFF, $alpha: 0.5);
    }

    span
    {
        min-width: 30px;
        width: 100%;
        margin: 0 5px;
        height: 5px;
        background-color: transparent;
    }
    
}

.tab-is-active
{
    background-color: var(--text-underline) !important;
}