.sub-service-frame
{
    img
    {
        background-color: var(--section-green);
        min-width: 100px !important;
        min-height: 100px !important;
        max-height: 100px;
    }

    .sub-service-frame-presentation
    {
        margin-left: 20px;

        .sub-service-frame-presentation-title
        {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .sub-service-frame-presentation-content
        {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 300;
        }
    }

    
}