$backgroundColor: #FFFFFF;
$contactBar: #D5D9D8;
$frameBorderColor: #FEDD16;
$frameIconColor: #433A01;
$frameInternalColor: #EDEDED;
$sectionDarkGreenColor: #002F17;
$sectionGreenColor: #2AB572;
$textBlackColor: #000000;
$textGreenColor: #2AB572;
$textUnderlineColor: #FFF3A8;
$textWhiteColor: #FFFFFF;
