@import "../variables";


.empty-section
{
    flex: 1;

    flex-direction: column;

    .customer-opignions-title
    {
        color: var(--text-dark-green);
        font-size: 32px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 50px;
        width: 80%;
    }

    .customers-opignions-list
    {
        .customer-opignion-frame
        {
            width: 80%;
            margin: 20px 0;
        }   
    }
}

@media only screen and (device-max-width: $tab-max-width),
only screen and (max-width: $tab-max-width)
{
    .customer-opignions-title
    {
        text-align: center;
    }

    .empty-section
    {
        .customers-opignions-list
        {
            .customer-opignion-frame
            {
                width: auto;
                flex-direction: column;
                margin-bottom: 40px;

                .customer-opignion
                {
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }
    }   
}