.compagny-frame
{
    img
    {
        min-width: 150px;
        min-height: 150px;
    }

    align-items: center;
    .frame-title
    {
        font-size: 22px;
        font-weight: 700;
        width: fit-content;
    }

    .frame-content
    {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
        width: fit-content;
        height: --webkit-fill-available;
        height: --moz-fill-available;
        height: fill-available;
        text-align: center;
    }

    .frame-button
    {
        font-weight: 300;
        background-color: var(--button-white);
        padding: 10px 20px;
        color: var(--text-black);
        width: fit-content;
    }

    .frame-button:hover
    {
        background-color: rgba(var(--button-white-rgb), .8);
    }
}

.compagny-frame-aligment-horizontal
{
    >div
    {
        margin-left: 30px;
        .frame-title
        {
            color: var(--text-green);
            font-size: 20px;
            text-align: start;
        }

        .frame-content
        {
            margin-top: 10px;
            font-size: 18px;
            text-align: start;
        }
    }
}

.compagny-frame-aligment-vertical
{
    .frame-title
    {
        color: var(--text-black);
    }

    .frame-content
    {
        margin-bottom: 30px;
    }
}