@import "../variables";


.empty-section:first-child
{
    align-items: center;
    flex-direction: column;

    .branding-about-frame
    {
        width: 600px;
    }
}

.empty-section
{
    align-items: center;
    flex-direction: column;
    justify-content: center;

    overflow-x: scroll;

    .presentation-title
    {
        color: var(--text-dark-green);
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .branding-frame
    {
        margin: 0 50px;
        width: 220px;

        height: --webkit-fill-available;
        height: --moz-fill-available;
    }

    .branding-frame:first-child
    {
        margin-left: 0;
    }

    .branding-frame:last-child
    {
        margin-right: 0;
    }
}


@media only screen and (device-max-width: $tab-max-width),
only screen and (max-width: $tab-max-width)
{
    .empty-section:first-child
    {
        .branding-about-frame
        {
            width: auto;
        }
    }

    .empty-section
    {
        .presentation-title
        {
            text-align: center;
        }

        .brandings
        {
            flex-direction: column;
            align-items: center;

            .branding-frame
            {
                width: 80%;
                margin: 25px 0;
            }

            .branding-frame:first-child
            {
                margin-top: 0;
            }

            .branding-frame:last-child
            {
                margin-bottom: 0;
            }
        }
    }
    
}
