@import "../../app/variables";


.banner
{
    width: 100%;
    background-color: var(--banner);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .horizontal-menu-bar
    {
        border-bottom: 1px solid rgba(var(--high-light), .5);
        a
        {
            color: var(--text-white);
        }
    }

    .banner-info
    {
        height: 100%;
        color: var(--text-white);
        justify-content: space-between;
        padding: 50px 70px;   

        .title
        {
            font-size: 52px;
            font-weight: 700;
        }

        .content
        {
            font-size: 18px;
        }

        .button
        {
            font-weight: 300;
            background-color: var(--section-green);
            color: var(--text-white);

            width: fit-content;
            padding: 10px 20px;
        }

        .button:hover
        {
            background-color: rgba(var(--section-green-rgb), .8);
        }
    }
}

@media screen and (max-device-width: $tab-max-width),
screen and (max-width: $tab-max-width) 
{
    .banner
    {
        .banner-info
        {
            padding: 30px 50px;
            .title
            {
                font-size: 32px;
            }
        }

    }
}