.footer
{
    padding: 40px 50px;
    width: 100%;
    min-height: fit-content;
    background-color: var(--section-dark-green);
    overflow-x: scroll;

   .contact-section
   {
        margin-right: 50px;
        > img
        {
            width: 96px;
            height: 96px;
        }

        .contacts
        {
            .icon-button
            {
                margin: auto 5px;
                align-self: center;
            }
        }
    }

    .labeled-list-of-services
    {
        color: var(--text-white);
        margin-right: 50px;

        .clickable-service-item,
        .unclickable-service-item
        {
            font-weight: 300;
            padding: 5px 0;
        }

        .clickable-service-item:hover
        {
            opacity: 0.8;
        }
    }

    .labeled-list-of-services:last-child
    {
        margin-right: 0;
    }
}